In [7]:
import requests as req
import pandas as pd
import numpy as nm
from bs4 import BeautifulSoup
from lxml import etree

url = 'https://www.worldometers.info/coronavirus/'
page = req.get(url)
htmlcontent = page.content
soup = BeautifulSoup(page.text, 'lxml')
table = soup.find('table', id="main_table_countries_today")

headers = []
first_row = table.find('tr')

for i in (first_row.find_all('th')[1:2] + first_row.find_all('th')[15:13:-1] + first_row.find_all('th')[2:9]):
    title = i.text
    headers.append(title)

mydata = pd.DataFrame(columns=headers)
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in (row_data[1:2] + row_data[15:13:-1] + row_data[2:9])]
    length = len(mydata)
    mydata.loc[length] = row

mydata.drop(mydata.index[:8], inplace=True)
mydata.reset_index(inplace=True)
mydata.drop(mydata.index[231:239], inplace=True)
mydata.replace('', nm.nan, inplace=True)
mydata.fillna(0, inplace=True)

numeric_columns = ['Population', 'TotalCases', 'NewCases', 'TotalDeaths',
                   'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases']
mydata[numeric_columns] = mydata[numeric_columns].apply(pd.to_numeric, errors='coerce')

print(mydata)

     index   Country,Other          Continent  Population  TotalCases  \
0        8             USA      North America         NaN         NaN
1        9           India               Asia         NaN         NaN
2       10          France             Europe         NaN         NaN
3       11         Germany             Europe         NaN         NaN
4       12          Brazil      South America         NaN         NaN
..     ...             ...                ...         ...         ...
226    234    Vatican City             Europe       799.0        29.0
227    235  Western Sahara             Africa         NaN        10.0
228    236      MS Zaandam                  0         NaN         9.0
229    237         Tokelau  Australia/Oceania         NaN         5.0
230    238           China               Asia         NaN         NaN

     NewCases  TotalDeaths  NewDeaths  TotalRecovered  NewRecovered  \
0         0.0          NaN          0             NaN           0.0
1         0.0          NaN          0             NaN           0.0
2         0.0          NaN          0             NaN           0.0
3         0.0          NaN          0             NaN           NaN
4         0.0          NaN          0             NaN           0.0
..        ...          ...        ...             ...           ...
226       0.0          NaN          0            29.0           0.0
227       0.0          1.0          0             9.0           0.0
228       0.0          2.0          0             7.0           0.0
229       0.0          NaN          0             0.0           0.0
230       0.0          NaN          0             NaN           0.0

     ActiveCases
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
226          0.0
227          0.0
228          0.0
229          5.0
230          NaN

[231 rows x 11 columns]